.contenedor_inicial_pinturas_azulejos {
    max-width: 1360px !important;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    width: calc(100% - 100px);
}
.contenedor_imagen_fondo_pinturas_azulejos {
    width: auto;
    position: absolute;
    top: 100px;
    z-index: -1;
}
.contenedor_imagen_fondo_pinturas_azulejos img {
    width: 100%;
}
.contenedor_imagen_fondo_microcemento {
    z-index: -2;
}
.contenedor_imagen_secundaria_microcemento {
    width: auto;
    position: absolute;
    top: 860px;
    left: 370px;
    z-index: -1;
}
@media (max-width: 1428px) {
    .contenedor_imagen_secundaria_microcemento {
        display:none
    }
}
@media (max-width: 1170px) {
    .contenedor_imagen_secundaria_microcemento {
        display: none;
    }
}

@media (min-width: 1200px) { 
    .contenedor_texto_inicial_microcemento {
        margin-top: -95px;
    }
}

@media (max-width: 1075px) {
    .contenedor_imagen_inicial_microcemento {
        margin-top: 70px;
    }
    .contenedor_texto_inicial_microcemento {
        margin-top: 70px;
    }
}
@media (max-width: 462px) {
    .contenedor_imagen_secundaria_microcemento  img{
        width: 190px;
        margin-top: -60px;
    }
}
@media (max-width: 768px) {
    .contenedor_imagen_secundaria_microcemento {
        display:block;
        margin-top: -100px;
        width: 150px;
        left:70px;
    }
    .contenedor_imagen_secundaria_microcemento  img{
        width: 330px;
        margin-top: -60px;
    }
    .contenedor_texto_inicial_microcemento {
        margin-top: -10px;
    }
}
@media (max-width: 576px) {
    .contenedor_imagen_secundaria_microcemento  img{
        width: 220px;
        margin-top: -42px;
        left: 0px;
        margin-left: -32px;
    }
}


.contenedor_contenido_pinturas_opciones {
    width: 100%;
    margin-top: 20px;
    height: 580px;
    background-color: rgba(101, 105, 106, 1);
    position: relative;
    z-index: 10;
}
.contenedor_contenido_pinturas_opciones .contenido_micro_opciones.active {
    display: flex;
}

@media (max-width: 992px) {
    .contenedor_contenido_pinturas_opciones{
        flex-direction: column-reverse;
        height: auto;
    }
}

/* contenedor_texto_micro_opciones */

.contenedor_texto_pinturas_opciones {
    width: 400px;
}
.contenedor_texto_pinturas_opciones h3{
    text-align: start;
    color: white;
    margin: 20px 0px 0px 20px;
}

.contenedor_texto_pinturas_opciones p{
    text-align: start;
    color: white;
    margin: 15px 0px 0px 20px;
    font-size: 13px;
}

@media (max-width: 992px) {
    .contenedor_texto_pinturas_opciones{
        width: 100%;
        height: 300px;
    }

    .contenedor_texto_pinturas_opciones p{
        margin: 10px 5px 0px 20px;
    }
}

@media (max-width: 768px) {

    .contenedor_texto_pinturas_opciones{
        font-size: 12px;
        height: 300px;
    }
}
@media (max-width: 550px) {
    .contenedor_texto_pinturas_opciones{
        height: 350px;
    }
}
@media (max-width: 405px) {
    .contenedor_texto_pinturas_opciones{
        height: 400px;
    }
}

@media (max-width: 481px) {
    .contenedor_texto_pinturas_opciones {
        font-size: 12px;
    }

    .contenedor_texto_pinturas_opciones h3{
        font-size: 20px !important;
    }
}

.contenedor_fondo_opciones_aplicar{
    height: 580px;
    width: 500%;
    background-color: #65696a;
    position: absolute;
    bottom: 0px;
}
@media (max-width: 992px) {
    .contenedor_fondo_opciones_aplicar{
        height: auto;
    }
}


.contenedor_imagen_inicial_microcemento{
    z-index: 2;
}
.contenedor_texto_pinturas_azulejos {
    width: 40%;
    position:relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    top: 50px;
}
.contenedor_imagen1_pinturas_azulejos {
    width: 40%;
    position:relative;
    z-index: 2;
    display: inline-flex;
    width: 54%;
    float: right;
}
.contenedor_imagen2_pinturas_azulejos {
    position:relative;
    z-index: -1;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    margin-left: 216px;
}

/*/////////////////////////////////////////*/
.contenedor_secundario_pinturas_azulejos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    max-width: 1360px !important;
    width: calc(100% - 100px);
}

.contenedor_secundario_pinturas_azulejos h2 {
    font-family: 'SF Pro Display Bold', 'SF Pro Display Regular', 'SF Pro Display', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #92BF23;
    text-align: center;
    line-height: 35px;
}


.contenedor_texto_secundario_pinturas_azulejos {
    width: 100%;
}
.contenedor_imagen_secundario_pinturas_azulejos {
    width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_imagen_secundario_pinturas_azulejos img {
    width: 70%;
    transition: transform .2s ease-out;
    position: relative;
    z-index: 1000;
}
/* .contenedor_texto_secundario_pinturas_azulejos {
    width: 35%;
} */
@media (max-width: 768px) {
    .contenedor_secundario_pinturas_azulejos {
        flex-direction: column;
        margin-top: 40px;
    }
    .contenedor_imagen_secundario_pinturas_azulejos {
        display: none;
    }
}

@media (max-width: 992px) {

    .contenedor_texto_secundario_pinturas_azulejos {
        width: 100%;
    }
    .contenedor_texto_secundario_pinturas_azulejos h2, .contendor_pintura_opciones_aplicar h2 {
        font-size: 25px !important;
        text-align: center;
    }
    @media (max-width: 992px) {
        .contenedor_texto_secundario_pinturas_azulejos p, .contendor_pintura_opciones_aplicar p {
            font-size: 14px;
            text-align: center;
        }
    }
}


/*/////////////////////////////////////////*/

.contenedor_video_pinturas_azulejos {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
    margin-bottom: 125px;

    width: calc(100% - 100px);
    display: flex;
    max-width: 1360px !important;


}
.img_pareja_viendo {
    border-width: 0px;
    position: absolute;
    left: 45px;
    top: 170px;
    width: 1162px;
    height: 581px;
    z-index: 5;
}

@media (max-width: 1260px) {
    .img_pareja_viendo, .plantas_cuadros {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .contenedor_video_pinturas_azulejos .img_tv_pinturas_azulejos {
        width: 1020px !important;
        margin-left: 70px !important;
    }
}
@media (max-width: 768px) {
    .contenedor_video_pinturas_azulejos .img_tv_pinturas_azulejos {
        width: 857px !important;
        margin-left: 60px !important;
    }
    .contenedor_video_pinturas_azulejos iframe{
        position: absolute;
        top: 9px !important;
        width: 317px !important;
        height: 181px !important;
    }
}
@media (max-width: 576px) {
    .img_tv_pinturas_azulejos {
        width: 717px !important;
        margin-left: 52px !important;
    }
    .contenedor_video_pinturas_azulejos iframe{
        top: 4px !important;
        width: 325px !important;
        height: 193px !important;
    }
}
@media (max-width: 548px) {
    .img_tv_pinturas_azulejos {
        width: 717px !important;
        margin-left: 52px !important;
    }
    .contenedor_video_pinturas_azulejos iframe{
        top: 4px !important;
        width: 325px !important;
        height: 191px !important;
    }
}


.img_tv_pinturas_azulejos {
    width: 1420px;
    margin-left: 94px;
}
.plantas_cuadros {
    width: 500px;
    z-index: -1;
    top: 0px;
}


/* .contenedor_video_pinturas_azulejos iframe {
    position: absolute;
    top: 6px;
    width: 544px;
    height: 312px;
    transform: rotate(-.2deg);
    z-index: 3;
    left: 382px;
} */

.contenedor_video_pinturas_azulejos iframe{
    position: absolute;
    top: 9px;
    width: 542px;
    height: 315px;
    transform: rotate(-0.2deg);
    z-index: 4;
}

@media (max-width: 992px) {
    .contenedor_video_pinturas_azulejos iframe{
        position: absolute;
        top: 10px;
        width: 397px;
        height: 219px;
        z-index: 4;
    }
} 

@media (max-width: 768px) {
    .contenedor_video_pinturas_azulejos iframe{
        position: absolute;
        top: 14px;
        width: 317px;
        height: 165px;
    }
}

@media (max-width: 550px) {
    .contenedor_video_pinturas_azulejos iframe{
        position: absolute;
        top: 13px;
        width: 273px;
        height: 146px;
    }
}

@media (max-width: 481px) {
    .contenedor_video_pinturas_azulejos iframe{
        position: absolute;
        top: 13px;
        width: 283px;
        height: 170px;
    }
}

@media (max-width: 405px) {
    .contenedor_video_pinturas_azulejos iframe{
        position: absolute;
        top: 13px;
        width: 267px;
        height: 157px;
    }
}
/* ////////////////////////////////////////// */


.contenedor_imagen_micro_opciones .imagen_contenido_micro_opciones{
    /* width: 80%; */
    z-index: 500;
    height: 100%;
    max-width: 80%;
}
/* 
.contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_micro_opciones_blanco{
    width: 8%;
    height: 200px;
    cursor: pointer;
}

.contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_micro_opciones_verde{
    width: 8%;
    height: 200px;
    cursor: pointer;
    display: none;
}

.contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_micro_opciones_verde:hover{
    display: block;
}
.contenedor_imagen_pinturas_opciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contenedor_imagen_pinturas_opciones div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
}

.contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_micro_opciones_blanco{
    height: 150px;
} */


/* @media (max-width: 1260px) {
    .contendor_pinturas_opciones_aplicar {
        margin-top: 50px;
    }
}
@media (max-width: 1360px) {
    .contendor_pinturas_opciones_aplicar {
        width: calc(100% - 100px) !important;
    }
} */
/* .contenedor_opciones_pinturas_opciones_aplicar {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 1260px) {
    .contenedor_opciones_pinturas_opciones_aplicar {
        margin-top: 50px;
    }
}
@media (max-width: 1360px) {
    .contenedor_opciones_pinturas_opciones_aplicar  {
        width: 100% !important;
    }
} */
/* contendor_pinturas_opciones_aplicar */
/* .contendor_pinturas_opciones_aplicar {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    box-sizing: border-box;
    position:relative;
    width: calc(100% - 100px);
    display: flex;
    max-width: 1360px !important;
} */


@media (max-width: 992px) {
    .contenedor_microcemento_tambien_interesa{
        flex-direction: column;
    }
}

/* .contenedor_texto_pinturas_opciones_aplicar{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    min-width: 400px;
}


.contenedor_texto_pinturas_opciones_aplicar h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #92bf23;
    text-align: start;
    line-height: 30px;
} */
/* .contendor_pinturas_opciones_aplicar ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    width: 65%;
    margin-left: 5%;
    flex-wrap: wrap;
} */

@media (max-width: 992px) {
    #pinturas-opciones {
        width: 100%;
        justify-content: space-around;
        margin-left: 0;
    }
}

/* .contendor_pinturas_opciones_aplicar li {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100px;
    margin: 35px 35px 10px;
    background-color: #92bf23;
    cursor: pointer;
}
@media (max-width: 481px) {
    .contendor_pinturas_opciones_aplicar li {
        margin: 10px !important;
        width: 60px;
        height: 60px;
    }
}
.contendor_pinturas_opciones_aplicar li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
} */

/* ////////////////////////////////////////// */


.contenedor_ventajas_pinturas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1360px !important;
    width: calc(100% - 100px);
    margin-top: 50px;
    flex-wrap: wrap;
}

.contenedor_ventajas_pinturas h2 {
    width: 100%;
    text-align: start;
    font-weight: 700;
    font-style: normal;
    font-size: 30px !important;
    color: #92bf23;
    margin-bottom: 35px;
    margin-top: 40px;
}

.contenedor_ventaja_pinturas {
    width: 28%;
}

.contenedor_ventaja_pinturas img {
    width: 80px;
}
.contenedor_ventajas_pinturas .titulo_ventaja {
    width: 100%;
    text-align: start;
    font-weight: 500;
    font-style: normal;
    font-size: 25px !important;
    color: #92bf23;
    margin-bottom: 5px;
}

/* ////////////////////////////////////////// */

/* .contenedor_colores_pinturas {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    max-width: 1360px !important;
    margin-top: 50px;
    background-color: #000;
    margin-bottom: 50px;
    width: calc(100% - 60px);
} */

/* .contenedor_primero_colores_pinturas {
    width: 20%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    padding: 30px;
}

.contenedor_primero_colores_pinturas img {
    width: 80%;
}

.contenedor_primero_colores_pinturas h2 {
    font-size: 20px !important;
    text-align: start;
    margin-top: 10px;
    color: #92bf23;
}

.contenedor_primero_colores_pinturas p {
    font-size: 13px;
    color: #fff;
    text-align: start;
} */

.contenedor_gammas_colores .btn_color {
    background-color: #92bf23;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

/* //////////////////////////////////////////////////////  */

.contenedor_inicial_paso_paso_microcemento_txt {
    width: 37%;
    min-width: 350px
}
.contenedor_botones_mostar_paso_paso {
    width: 63%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 50px;
}

.contenedor_botones_mostar_paso_paso #mostrar_paso_paso_1 {
    border-radius: 20px;
    width: 30% !important;
}
.contenedor_botones_mostar_paso_paso #mostrar_paso_paso_1 img{
    width:100%;
}
.contenedor_botones_mostar_paso_paso #mostrar_paso_paso_2 {
    border-radius: 20px;
    width: 70% !important;
}
.contenedor_botones_mostar_paso_paso #mostrar_paso_paso_2 img{
    max-width: 555px;
}
@media (max-width: 992px) {
    .contenedor_botones_mostar_paso_paso{
        display: none;
    }

    .contenedor_pinturas_tambien_interesa{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contenedor_pinturas_tambien_interesa_btns{
        min-width: 450px;
    }
}

.contenedor_pinturas_tambien_interesa {
    width: calc(100% - 60px);
    display: flex;
    text-align: start;
    justify-content: center;
    max-width: 1360px;
    font-weight: 100;
}
.contenedor_pinturas_tambien_interesa_txt {
    width: 60%;
    min-width: 400px;
}
.contenedor_pinturas_tambien_interesa_btns {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-wrap: wrap;
}
.contenedor_pinturas_tambien_interesa_btns a {
    padding: 8px 30px;
    border-radius: 17px;
    border: none;
    background-color: #92bf23;
    color: #fff;
    font-weight: 700;
    margin-top: 8px;
    text-decoration: none;
}




.contenedor_microcemento_preguntas_y_respuestas_title {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #7fa61e;
    margin-top: 55px;
    text-align: left;
}
.contenedor_microcemento_preguntas_y_respuestas .container {
    padding-left: 0 !important;
}
.contenedor_microcemento_preguntas_y_respuestas .container {
    width: 100% !important;
    padding-left: 0 !important;
}
#respuestas {
    margin-top: 20px;
    padding: 15px;
}
.accordion-body {
    background: #ccc;
    /* padding: 0 15px 0 15px; */
    border-radius: 20px;
}
/* #mostrar_paso_paso_1 img{
    width: inherit !important;
}
#mostrar_paso_paso_1 {
    position: relative;
    background: 0 0;
    min-height: 77px;
    min-width: 46%;
    border: none;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .8s;
    border-radius: 20px;
} */

/* .contenedor_inicial_paso_paso_microcemento {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    max-width: 1360px !important;
    width: calc(100% - 100px);
    margin-top: 50px;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}

.contenedor_inicial_paso_paso_microcemento_txt {
    width: 20%;
    min-width: 350px;
}

.contenedor_botones_mostar_paso_paso {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.acordeon {
    align-items: start;
    flex-direction: row;
    max-width: 1360px !important;
    background-color: #fff;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 60px);
}

.acordeon, .acordeon-item {
    justify-content: start;
    height: 380px !important;
    display: flex;
}

.acordeon-item {
    position: absolute;
    transition: 2s;
    flex-direction: row;
    align-items: start;
} */


.contendor_pinturas_opciones_aplicar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1360px !important;
    /* margin-left: 30px;
    margin-right: 30px; */
    width: calc(100% - 100px);
    margin-top: 100px;
    position: relative;
}


.contendor_pinturas_opciones_aplicar ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    width: 65%;
    margin-left: 5%;
    flex-wrap: wrap;
}

.contendor_pinturas_opciones_aplicar li {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100px;
    margin: 35px 35px 10px 35px;
    transition: 0.5;
    background-color: #92BF23;
    cursor: pointer;
}

.contendor_pinturas_opciones_aplicar li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.contendor_pinturas_opciones_aplicar li p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    opacity: 0;
    transition: 0.5s;
    margin: 0;
}

.contendor_pinturas_opciones_aplicar li:hover {

    background-color: grey;
    transition: 0.5s;
}

.contendor_pinturas_opciones_aplicar li:hover img {
    opacity: 0;
}

.contendor_pinturas_opciones_aplicar li:hover p {
    opacity: 1;
}

@media (max-width: 1360px) {
    .contendor_pinturas_opciones_aplicar{
        width: 100% !important;
    }
}


@media (max-width: 1260px) {

    .contendor_pinturas_opciones_aplicar{
        margin-top: 50px;
    }
}


@media (max-width: 768px) {

    .contendor_pinturas_opciones_aplicar li{
        margin: 10px !important;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 481px) {

    .contendor_pinturas_opciones_aplicar li{
        margin: 10px !important;
        width: 60px;
        height: 60px;
    }
}

.contenedor_opciones_pinturas_opciones_aplicar{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 1360px) {
    .contenedor_opciones_pinturas_opciones_aplicar{
        width: calc(100% - 100px) !important;
    }
}

.contenedor_texto_pinturas_opciones_aplicar{
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    min-width: 400px;
}

.contenedor_texto_pinturas_opciones_aplicar h2{
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #92BF23;
    text-align: start;
    line-height: 30px;
}



@media (max-width: 992px) {
    .contenedor_opciones_pinturas_opciones_aplicar{
        flex-direction: column;
    }

    .contenedor_texto_pinturas_opciones_aplicar{
        width: 100%;
        min-width:auto !important;
        /* height: 500px; */
    }

    .contenedor_texto_pinturas_opciones_aplicar h2{
        font-size: 25px !important;
        text-align: center;
    }

    .contenedor_texto_pinturas_opciones_aplicar p{
        font-size: 14px;
        text-align: center;
    }


}

@media (max-width: 550px) {
    .contenedor_opciones_pinturas_opciones_aplicar{
        width: calc(100% - 20px) !important;
    }
}



.contenedor_contenido_pinturas_opciones {
    width: 100%;
    margin-top: 20px;
    height: 580px;
    background-color: rgba(101, 105, 106, 1);
    position: relative;
    z-index: 10;
}

.contenedor_contenido_pinturas_opciones .contenedor_contenido_pinturas_opciones.active {
    display: flex;
}


@media (max-width: 992px) {
    .contenedor_contenido_pinturas_opciones{
        flex-direction: column-reverse;
        height: auto;
    }
}


.contenedor_texto_pinturas_opciones{
    width: 400px;
}

.contenedor_texto_pinturas_opciones h3{
    text-align: start;
    color: white;
    margin: 20px 0px 0px 20px;
}

.contenedor_texto_pinturas_opciones p{
    text-align: start;
    color: white;
    margin: 15px 0px 0px 20px;
    font-size: 13px;
}

@media (max-width: 992px) {

    .contenedor_texto_pinturas_opciones{
        width: 100%;
        height: 300px;
    }

    .contenedor_texto_pinturas_opciones p{
        margin: 10px 5px 0px 20px;
    }

}

@media (max-width: 768px) {

    .contenedor_texto_pinturas_opciones{
        font-size: 12px;
        height: 300px;
    }
}

@media (max-width: 550px) {
    .contenedor_texto_pinturas_opciones{
        height: 350px;
    }
}

@media (max-width: 481px) {
    .contenedor_texto_pinturas_opciones {
        font-size: 12px;
    }

    .contenedor_texto_pinturas_opciones h3{
        font-size: 20px !important;
    }
}

@media (max-width: 405px) {
    .contenedor_texto_pinturas_opciones{
        height: 400px;
    }
}


.contenedor_imagen_pinturas_opciones .imagen_contenido_pinturas_opciones{
    /* width: 80%; */
    z-index: 500;
    height: 100%;
    max-width: 80%;
}

.contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_pinturas_opciones_blanco{
    width: 8%;
    height: 200px;
    cursor: pointer;
}

.contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_pinturas_opciones_verde{
    width: 8%;
    height: 200px;
    cursor: pointer;
    display: none;
}

.contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_pinturas_opciones_verde:hover{
    display: block;
}


.contenedor_imagen_pinturas_opciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 992px) {
    .contenedor_imagen_pinturas_opciones div{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: grey;
    }

    .contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_pinturas_opciones_blanco{
        height: 150px;
    }
}

.imagen_contenido_pinturas_opciones {
    display: none;
}

.imagen_contenido_pinturas_opciones.active {
    display: block;
}

.imagen_flechas_contenido_pinturas_opciones_blanco {
    width: 5%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.imagen_flechas_contenido_pinturas_opciones_blanco.prev {
    left: 0;
}

.imagen_flechas_contenido_pinturas_opciones_blanco.next {
    right: 0;
}

@media (max-width: 992px) {
    .contenedor_imagen_pinturas_opciones .imagen_flechas_contenido_pinturas_opciones_blanco{
        height: 150px;
    }
}

.contenedor_ventaja img{
    width: 80px;
}

@media (max-width: 992px) {
    .contenedor_ventaja_pinturas {
        width: 40%;
    }
}
@media (max-width: 768px) {
    .contenedor_ventaja_pinturas {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .contenedor_ventajas_pinturas {
        text-align: center;
    }

    .contenedor_ventajas_pinturas h2, .descripcion_ventaja, .titulo_ventaja, .descripcion_ventaja p{
        text-align: center !important;
    }
}


.contenedor_ventajas_pinturas .titulo_ventaja{
    width: 100%;
    text-align: start;
    font-weight: 500;
    font-style: normal;
    font-size: 25px !important;
    color: #92bf23;
    margin-bottom: 5px;
}

.descripcion_ventaja{
    font-size: 14px;
}

.contenedor_colores_pinturas{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: start;
    flex-direction: row;
    max-width: 1360px !important;
    /* margin-left: 30px;
    margin-right: 30px; */
    margin-top: 50px;
    background-color: #000;
    margin-bottom: 50px;
    width: calc(100% - 60px);
    position: relative;
    height: 600px;
}



.contenedor_primero_colores_pinturas{
    width: 20%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    padding: 30px;
    position: relative;
    z-index: 10;
}

.contenedor_primero_colores_pinturas h2{
    font-size: 20px !important;
    color: white;
    text-align: start;
    margin-top: 10px;
    color: #92bf23;
}

.contenedor_primero_colores_pinturas p{
    font-size: 13px;
    color: white;
    text-align: start;
}

.contenedor_primero_colores_pinturas img{
    width: 80%;
}

.contenedor_segundo_colores_pinturas {
    width: 80%;
    /* background-color: #212529; */
    padding: 0px 20px 20px 20px;
    color: white;
    position: relative;
    z-index: 10;
}


.contenedor_listado_colores_small{
    display: none;
}

.contenedor_listado_colores {
    /* display: flex; */
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    justify-content: start;
    flex-wrap: wrap;
}

.contenedor_listado_colores_big{
    display: flex;
}
.contenedor_listado_colores_big li.conbarra{
    border-right:solid #fff 0.5px;
}
.contenedor_listado_colores li {
    cursor: pointer;
    padding: 10px 20px;
    color: #92BF23;
}

.contenedor_listado_colores li.active {
    box-shadow: inset 0 -6px 0 0 #92BF23;
    transition: box-shadow 0.5s;
}

@media (max-width: 992px) {
    .contenedor_segundo_colores_pinturas{
        width: 100%;
    }
}

@media (max-width: 1360px) {
    .contenedor_colores_pinturas{
        width: 100% !important;
    }
}

@media (max-width: 992px) {
    .contenedor_colores_pinturas{
        flex-direction: column;
        width: 100% !important;
        height: 1000px;
        justify-content: start;
    }

    .contenedor_primero_colores_pinturas p{
        text-align: center !important;
    }

    .contenedor_primero_colores_pinturas h2{
        text-align: center !important;
    }

    .contenedor_primero_colores_pinturas{
        width: 100%;
    }

    .contenedor_primero_colores_pinturas img{
        width: 80%;
        max-width: 300px;
    }
    .contenedor_listado_colores li{
        padding: 10px !important;
        text-align: center;
        height: 100%;
        width: 120px;
        color: white !important;
        background-color: #92bf23;
        margin: 8px;
        border-radius: 40px;
    }
    .contenedor_listado_colores_small{
        display: flex;
        justify-content: center !important;
    }
    .contenedor_listado_colores_big{
        display: none !important;
    }

}

@media (max-width: 550px) {
    .contenedor_colores_pinturas{
        height: 1100px;
    }
}

@media (max-width: 768px) {
    .contenedor_colores_pinturas{
        height: 1000px !important;
    }
}


@media (max-width: 992px) {
    #paso_paso_microcemento_1 {
        height: 470px !important;
    }
}

.acordeon-contenido .expl{
    max-width: 450px !important;
}

.acordeon-body div img{
    left: 600px;
}

@media (max-width: 1270px) {
    .acordeon-body div img {
        width: 350px !important;
    }
}

@media (max-width: 992px) {
    .acordeon-body div img {
        display: none !important;
    }
}