.hormigon_impreso{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: 'SF Pro Display Bold', 'SF Pro Display Regular', 'SF Pro Display', sans-serif;
}


.hormigon_impreso h1{
    font-size: 30px !important;
    line-height: 31px !important;
}

.hormigon_impreso h2{
    font-size: 25px !important;
    line-height: 26px !important;
    margin-bottom: 25px !important;
}

.hormigon_impreso h3{
    font-size: 22px !important;
    line-height: 23px !important;
    margin-bottom: 18px !important;
}

.hormigon_impreso h4{
    font-size: 16px !important;
    line-height: 17px !important;
}

.hormigon_impreso p:not(header p){
    font-size: 15px !important;
    line-height: 16px !important;
}

.contenedor-ventajas-smart-cover-repair li, .contenedor_microcemento_preguntas_y_respuestas li{
    font-size: 15px !important;
    line-height: 16px !important;
}

.hormigon_impreso .contenedor_video_hormigon_content a, .contenedor-ventajas-smart-cover-repair-content a{
    font-size: 15px !important;
    line-height: 16px !important;
}

.hormigon_impreso .contenedor_inicial_paso_paso_hormigon a{
    color: #92bf23 !important;
    text-decoration: none !important;
}


@media (max-width: 768px) {
    .hormigon_impreso h1{
        font-size: 25px !important;
        line-height: 26px !important;
    }
    
    .hormigon_impreso h2{
        font-size: 20px !important;
        line-height: 21px !important;
    }
    
    .hormigon_impreso h3{
        font-size: 18px !important;
        line-height: 19px !important;
    }
    
    .hormigon_impreso h4{
        font-size: 16px !important;
        line-height: 17px !important;
    }
    
    .hormigon_impreso p:not(header p){
        font-size: 12px !important;
        line-height: 13px !important;
    }
    
    .contenedor-ventajas-smart-cover-repair li, .contenedor_microcemento_preguntas_y_respuestas li{
        font-size: 12px !important;
        line-height: 13px !important;
    }
    
    .contenedor_video_hormigon_content a, .contenedor-ventajas-smart-cover-repair-content a{
        font-size: 12px !important;
        line-height: 13px !important;
    }    
}

.contenedor_inicial_hormigon{
    max-width: 1360px !important;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 50px;
    width: calc(100% - 100px);
}

.contenedor_texto_inicial_hormigon{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 100px;
}

.contenedor_texto_inicial_hormigon h1{
    font-weight: 600;
    font-style: normal;
    color: #92BF23;
    text-align: start;
}

.contenedor_texto_inicial_hormigon_h1{
    min-width: 400px;
    width: 400px;
    margin-right: 100px;
}

.contenedor_texto_inicial_hormigon p{
    text-align: start;
}

.contenedor_texto_inicial_hormigon_content{
    max-width: 400px;
}

.contenedor_imagen_fondo_hormigon{
    max-width: 1360px !important;
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: -1;
}

.contenedor_imagen_fondo_hormigon img{
    width: 100%;
}

.contenedor_imagen_inicial_hormigon{
    width: 100%;
    position: relative;
    bottom: 150px;
}

.contenedor_imagen_inicial_hormigon img{
    width: 100%;
}

.contenedor_video_hormigon{
    max-width: 1360px !important;
    display: flex;
    justify-content: center;
    align-items: start;
    /* margin-top: 50px; */
    width: calc(100% - 100px);
}



.contenedor_video_hormigon_content{
    min-width: 400px;
    max-width: 400px;
    margin-right: 50px;
    height: 380px !important;
    position: relative;
}

.contenedor_video_hormigon_content h2{
    font-weight: 700;
    font-style: normal;
    color: #92bf23;
    text-align: start;
}

.contenedor_video_hormigon_content p{
    text-align: start;
}
.contenedor_video_hormigon_content a{
    padding: 10px 40px;
    border-radius: 12px;
    border: none;
    background-color: #92bf23;
    color: #fff !important;
    font-weight: 700;
    margin-top: 8px;
    text-decoration: none;
    position: relative;
    top: 50px;
}

.contenedor_video_hormigon_iframe{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px !important;
}

.contenedor_video_hormigon_iframe iframe{
    position: absolute;
    width: 505px;
    bottom: 69px;
    height: 295px;
}

.contenedor_video_hormigon_iframe img{
    width: 600px;
}

/* .contenedor_ventaja{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
} */
.contenedor_ventajas_hormigon_content_principal{
    width: 100%;
    margin-bottom: 10px;
}

.contenedor_ventajas_hormigon{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    max-width: 1360px !important;
    width: calc(100% - 100px);
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.contenedor_ventajas_hormigon .titulo_ventaja{
    width: 100%;
    text-align: start;
    font-weight: 500;
    font-style: normal;
    color: #92BF23;
    margin-top: 15px;
}

.contenedor_ventajas_hormigon_content_principal p{
    text-align: start;
}

.contenedor_ventajas_hormigon h2{
    font-weight: 700;
    font-style: normal;
    color: #92bf23;
    text-align: start;
}

.contenedor_inicial_paso_paso_hormigon{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    max-width: 1360px !important;
    width: calc(100% - 100px);
    margin-top: 10px;
    background-color: white;
    margin-bottom: 10px;
    overflow: hidden; 
}

.contenedor_inicial_paso_paso_hormigon_txt{
    width: 20%;
    min-width: 350px;
}

.contenedor_inicial_paso_paso_hormigon_txt h2{
    font-weight: 700;
    font-style: normal;
    color: #92bf23;
    text-align: start;

}

.contenedor_inicial_paso_paso_hormigon_txt p{
    text-align: start;
}

.contenedor_botones_mostar_paso_paso button:hover img {
    opacity: 1 !important;
}

#mostrar_paso_paso_1 {
    background-color: rgba(146, 191, 35, 1);
    margin-right: 15px;
    height: 100%;
    width: 31.5%;
    border-radius: 10px;
    overflow: hidden;
}

#mostrar_paso_paso_2 {
    background-color: #3c3d43;
    height: 100%;
    width: 55%;
    border-radius: 10px;
    overflow: hidden;
}

.acordeon-button .txt_num_paso_paso {
    line-height: inherit !important;
}

.contenedor_reparar_grietas_hormigon{
    max-width: 1360px !important;
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100% - 100px);
    background-color: #92bf23;
    padding: 22px 35px 22px 35px;
    border-radius: 100px;
    margin-bottom: 30px;
}

.contenedor_reparar_grietas_hormigon h3{
    color: white;
    min-width: 300px;
    max-width: 300px;
    text-align: start;
    margin-right: 40px;
    margin-bottom: 0px !important;
}

.contenedor_reparar_grietas_hormigon p{
    margin-bottom: 0px !important;
    padding-right: 20px;
    max-width: 600px;
    font-size: 13px !important;
}

.contenedor-ventajas-smart-cover-repair{
    max-width: 1360px !important;
    display: flex;
    justify-content: start;
    align-items: start;
    width: calc(100% - 100px);
    margin-bottom: 30px;
}
.contenedor-ventajas-smart-cover-repair h3{
    color: #92bf23;
    min-width: 400px;
    max-width: 400px;
    text-align: start;
    margin-right: 40px;
    margin-bottom: 0px !important;
}

.contenedor-ventajas-smart-cover-repair-content{
    max-width: 500px;
}

.contenedor-ventajas-smart-cover-repair-content button{
    padding: 14px 30px;
    border-radius: 25px;
    border: none;
    background-color: #92bf23;
    color: #fff !important;
    font-weight: 700;
    margin-top: 8px;
    text-decoration: none;
    position: relative;
    transition: 0.4s;
}
.contenedor-ventajas-smart-cover-repair-content button:hover{
    background-color: rgba(83, 77, 69, 1);
    transition: 0.4s;
}
#paso_paso_hormigon_1 .expl img {
    background-color: #92bf23;
}

#paso_paso_hormigon_2 .expl img {
    background-color: #92bf23;
}

#paso_paso_hormigon_1 .acordeon-button {
    background-color: rgba(146, 191, 35, 1);
}

#paso_paso_hormigon_2 .acordeon-button {
    background-color: rgba(146, 191, 35, 1);
}

#paso_paso_hormigon_1 .expl img {
    background-color: #92bf23;
}

#paso_paso_hormigon_2 .expl img {
    background-color: #92bf23;
}
#paso_paso_hormigon_2 .acordeon-contenido .expl{
    max-width: 400px;
}
.acordeon-contenido .expl{
    text-align: start !important;
    max-width: 330px;
}



.contenedor_microcemento_preguntas_y_respuestas_title {
    width: 100%;
    font-size: 24px !important;
    font-weight: 700;
    color: #7fa61e;
    margin-top: 55px;
    text-align: left;
}
.contenedor_microcemento_preguntas_y_respuestas .container {
    padding-left: 0 !important;
}
.contenedor_microcemento_preguntas_y_respuestas .container {
    width: 100% !important;
    min-width: 100% !important;
    padding-left: 0 !important;
}
.accordion-body {
    background: #ccc;
    border-radius: 20px;
}

.contenedor_primero_colores_hormigon{
    width: 20%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    padding: 30px 10px 0px 10px;
    position: relative;
    z-index: 10;
}

.contenedor_primero_colores_hormigon h2{
    color: white !important;
    text-align: start;
    margin-top: 10px;
    color: #92bf23;
}

.contenedor_primero_colores_hormigon p{
    font-size: 13px;
    color: white;
    text-align: start;
    line-height: 15px;
}

.contenedor_primero_colores_hormigon img{
    width: 70%;
}

.contenedor_colores_hormigon{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    max-width: 1360px !important;
    margin-top: 50px;
    background-color: #000;
    margin-bottom: 50px;
    width: calc(100% - 60px);
    position: relative;
    height: 600px;
}

.contenedor_txt_gamma_colores {
    height: 520px;
    min-width: 415px !important;
    width: 415px !important;
    padding-left: 60px !important;
}

.contenedor_imagen_grande_color_gammas {
    width: 450px !important;
    height: 450px !important;
    border: 1px solid white;
}

.contenedor_imagen_color_gammas{
    height: 130px;
    width: 130px;
    border: 1px solid white;
}

#respuestas{
    margin-top: 20px;

    background-color: rgba(242, 242, 242, 1);
    border-radius: 20px;
}

#respuestas p{
    text-align: start !important;
}
.accordion-body{
    background-color: rgba(242, 242, 242, 1);

}

#paso_paso_hormigon_2 .acordeon-header{
    max-width: 100px;
    min-width: 100px;
}

#paso_paso_hormigon_2 .acordeon-button img{
    width: 80px;
}

#paso_paso_hormigon_2 .acordeon-body div img{
    left: 530px;
}
.contenedor_colores_gammas{
    justify-content: start ;
    padding-left: 20px;
}
@media (max-width: 1300px) {
    .contenedor_imagen_color_gammas{
        height: 83px;
        width: 83px;
    }    

    .contenedor_imagen_grande_color_gammas {
        width: 350px !important;
        height: 350px !important;
    }
}

@media (max-width: 1225px) {
    .contenedor_imagen_grande_color_gammas {
        width: 300px !important;
        height: 300px !important;
    }
}

@media (max-width: 1150px) {
    .contenedor_imagen_grande_color_gammas {
        width: 300px !important;
        height: 300px !important;
    }
}

@media (max-width: 1250px) {
    .contenedor_txt_gamma_colores {
        height: 520px;
        padding-left: 20px !important;
    }
    
}

@media (max-width: 1360px) {
    .contenedor_colores_hormigon{
        width: 100% !important;
    }
}
@media (max-width: 1120px) {
    .contenedor_primero_colores_hormigon{
        min-width: 300px ;
    }

    .contenedor_txt_gamma_colores {
        min-width: 340px !important;
        width: 340px !important;
    }
}

@media (max-width: 992px) {
    
    .contenedor_primero_colores_hormigon p{
        text-align: center !important;
    }

    .contenedor_primero_colores_hormigon{
        width: 100%;
    }

    .contenedor_primero_colores_hormigon img{
        width: 80%;
        max-width: 300px;
    }
    .contenedor_primero_colores_hormigon h2{
        text-align: center !important;
    }

    .contenedor_txt_gamma_colores {
        height: auto !important;
    }
    .contenedor_colores_gammas{
        padding-left: 30px;
        justify-content: center !important;
    }

    .contenedor_ventajas_hormigon{
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .contenedor_txt_gamma_colores{
        width: 100% !important;
        padding-left: 0px !important;
    }

    .contenedor_microcemento_preguntas_y_respuestas_title{
        margin-top: 0px !important;
    }

    .contenedor_gammas_colores {
        justify-content: center !important;
    }

    .contenedor_ventajas_hormigon{
        margin-bottom: 30px;
    }

    .contenedor_colores_gammas{
        padding-left: 0px !important;
    }
}

.contenedor_gammas_colores .btn_color{
    font-size: 12px !important;
    min-width: 61px;
    min-height: 61px;
    max-width: 61px;
    max-height: 61px;
    line-height: 12px;
    word-wrap: break-word;
}
.contenedor_gammas_colores{
    justify-content: start;
    min-width: 355px;
}

/* INICIO RESPONSIVE PARA 4 PASOS */
#paso_paso_hormigon_1 .img-ia-paso{
    width: 550px !important;
}
#paso_paso_hormigon_1 .img-product-paso{
    width: 400px;
}
@media (max-width: 1270px) {
    #paso_paso_hormigon_1 .img-product-paso{
        width: 400px !important;
    }
    #paso_paso_hormigon_1 .img-ia-paso{
        width: 500px !important;
    }
}

@media (max-width: 1220px) {
    #paso_paso_hormigon_1 .img-product-paso{
        width: 400px !important;
    }
    #paso_paso_hormigon_1 .img-ia-paso{
        width: 450px !important;
    }
}

@media (max-width: 1170px) {
    #paso_paso_hormigon_1 .img-product-paso{
        width: 400px !important;
    }
    #paso_paso_hormigon_1 .img-ia-paso{
        width: 400px !important;
    }
}

@media (max-width: 1120px) {
    #paso_paso_hormigon_1 .img-product-paso{
        width: 350px !important;
        display: block !important;
    }
    #paso_paso_hormigon_1 .img-ia-paso{
        width: 350px !important;
        display: block !important;
    }
}

@media (max-width: 1070px) {
    #paso_paso_hormigon_1 .img-product-paso{
        width: 300px !important;
    }
    #paso_paso_hormigon_1 .img-ia-paso{
        width: 300px !important;
    }
}

@media (max-width: 1020px) {
    #paso_paso_hormigon_1 .img-product-paso{
        width: 250px !important;
    }
    #paso_paso_hormigon_1 .img-ia-paso{
        width: 250px !important;
    }
}

@media (max-width: 992px) {
    #paso_paso_hormigon_1 .img-product-paso{
        display: none !important;
    }
    #paso_paso_hormigon_1 .img-ia-paso{
        display: none !important;
    }  
}
/* FIN RESPONSIVE PARA 4 PASOS */


/* INICIO RESPONSIVE PARA 2 PASOS */
#paso_paso_hormigon_2 .img-ia-paso{
    width: 550px !important;
}
@media (max-width: 1270px) {
    #paso_paso_hormigon_2 .img-ia-paso{
        width: 550px !important;
    }
}

@media (max-width: 1220px) {
    #paso_paso_hormigon_2 .acordeon-body div img{
        left: 510px;
    }
    #paso_paso_hormigon_2 .img-ia-paso{
        width: 550px !important;
    }

    #paso_paso_hormigon_2 .acordeon-contenido .expl {
        max-width: 370px;
    }
}

@media (max-width: 1170px) {
    #paso_paso_hormigon_2 .img-ia-paso{
        width: 500px !important;
    }
}

@media (max-width: 1140px) {
    #paso_paso_hormigon_2 .img-ia-paso{
        width: 450px !important;
        display: block !important;
    }
}

@media (max-width: 1090px) {
    #paso_paso_hormigon_2 .img-ia-paso{
        width: 400px !important;
    }
}

@media (max-width: 1040px) {
    #paso_paso_hormigon_2 .img-ia-paso{
        width: 350px !important;
    }
}

@media (max-width: 992px) {
    #paso_paso_hormigon_2 .img-ia-paso{
        display: none !important;
    }  
}
/* FIN RESPONSIVE PARA 2 PASOS */

@media (min-width: 1201px) {
    .contenedor_ventajas_hormigon_content_principal p{
        max-width: 450px !important;
    }
    .contenedor_ventajas_hormigon h2{
        max-width: 450px !important;
    }
    .imagen_flechas{
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .contenedor_video_hormigon{
        flex-direction: column;
    }

    .contenedor_video_hormigon_content{
        min-width: 100%; 
        width: 100%;
        max-width: 100%;
        margin-right: 0px !important;
        height: auto !important;
    }

    .contenedor_video_hormigon_iframe{
        margin-top: 50px;
    }

    .contenedor_video_hormigon_content p{
        width: 100%;
        max-width: 100%;
    }

    .contenedor_video_hormigon_content a{
        top: 20px;
    }
}

@media (max-width: 992px) {

    .contenedor_texto_inicial_hormigon_h1{
        min-width: 300px;
        width: 300px;
        margin-right: 20px;
    }

    .contenedor_ventajas_hormigon{
        justify-content: space-around;
        text-align: center;
    }

    .contenedor_ventajas_hormigon .titulo_ventaja{
        text-align: center;
    }

    .contenedor_inicial_paso_paso_hormigon{
        flex-direction: column;
        text-align: start;
        align-items: start;
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .contenedor_inicial_paso_paso_hormigon_txt{
        width: 100% !important;
    }
    

    .contenedor_botones_mostar_paso_paso{
        height: 200px !important;
    }

    .contenedor-ventajas-smart-cover-repair h3{
        min-width: 300px;
        max-width: 300px;
    }

    #paso_paso_hormigon_1{
        height: 540px !important;
    }

    #paso_paso_hormigon_2{
        height: 400px !important;
    }

    #paso_paso_hormigon_1 .acordeon-button{
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        height: 70px !important;
        min-width: none;
        max-width: none;
    }

    #paso_paso_hormigon_2 .acordeon-button{
        width: 100% !important;
        min-width: 100% !important;
        max-width: 100% !important;
        height: 70px !important;
        min-width: none;
        max-width: none;
    }

    .contenedor_reparar_grietas_hormigon h3{
        min-width: 250px;
        max-width: 250px;
        margin-right: 20px;
    }

    .txt_num_paso_paso{
        display: none !important;
    }

    .acordeon-button img{
        left: 10px;
    }
    .acordeon-body{
        width: auto;
    }


    .acordeon-contenido .expl{
        max-width: 630px !important;
    }

    #paso_paso_hormigon_2 .acordeon-button img{
        width: 60px;
    }

    .acordeon-button h4{
        left: 85px !important
    }

    .imagen_flechas{
        right: 0px !important;
        left: auto !important;
        height: 62px !important;
        width: 50px !important;
    }

    .activo_paso_paso_1 .acordeon-header, .activo_paso_paso_1 .acordeon-header .acordeon-button {
        background-color: #534d45 !important;
    }

    .activo_paso_paso_2 .acordeon-header, .activo_paso_paso_2 .acordeon-header .acordeon-button {
        background-color: #534d45 !important;
    }

    .contenedor_colores_hormigon{
        flex-direction: column;
        width: 100% !important;
        height: 1000px !important;
        justify-content: start;
    }

    .contenedor_listado_colores li{
        height: auto !important; 
        width: auto !important; 
    }

    .contenedor_video_hormigon{
        margin-top: 30px !important;
    }
}

@media (max-width: 768px) {
    .contenedor_inicial_hormigon{
        flex-direction: column;
    }

    .contenedor_texto_inicial_hormigon {
        width: 100%;
    }
    .contenedor_imagen_fondo_hormigon{
        top: 500px !important;
    }
    .contenedor_texto_inicial_hormigon{
        flex-direction: column;
        position: relative;
        z-index: 10;
        align-items: center;
        margin-top: 10px;
    }

    .contenedor_texto_inicial_hormigon_h1{
        margin-right: 0px !important;
        width: 100%;
    }

    .contenedor_imagen_inicial_hormigon{
        bottom: 0px !important;
    }

    .contenedor_texto_inicial_hormigon_content{
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1, h2, h3, p {
        text-align: center !important;
    }

    .contenedor_video_hormigon_content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor_ventaja{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor_ventaja .descripcion_ventaja{
        max-width: 400px;
    }

    .contenedor_ventajas_hormigon_content_principal p{
        max-width: 100% !important;
    }
    .contenedor_ventajas_hormigon h2{
        max-width: 100% !important;
    }

    .contenedor_reparar_grietas_hormigon{
        align-items: center;
        flex-direction: column;
        border-radius: 50px;
    }

    .contenedor_reparar_grietas_hormigon h3{
        max-width: 100%;
        margin-bottom: 15px !important;
        margin-right: 0px !important;
        margin-top: 10px;
    }

    .contenedor_reparar_grietas_hormigon p{
        margin-bottom: 30px !important;
    }

    .contenedor-ventajas-smart-cover-repair{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor-ventajas-smart-cover-repair h3{
        margin-right: 0px !important;
        min-width: none !important;
        max-width: none !important;
    }

    .contenedor-ventajas-smart-cover-repair-h3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .contenedor-ventajas-smart-cover-repair-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contenedor_botones_mostar_paso_paso{
        height: 160px !important;
    }


    .contenedor_colores_hormigon{
        flex-direction: column;
        width: 100% !important;
        height: 910px !important;
        justify-content: start;
    }
}

@media (max-width: 640px) {
    .contenedor_botones_mostar_paso_paso{
        height: 140px !important;
    }
}


@media (max-width: 600px) {

    .contenedor_video_hormigon_iframe{
        height: 340px !important;
    }

    .contenedor_video_hormigon_iframe img {
        width: 500px;
    }

    .contenedor_video_hormigon_iframe iframe {
        position: absolute;
        width: 420px;
        bottom: 72px;
        height: 242px;
    }

    .contenedor_botones_mostar_paso_paso{
        height: 140px !important;
    }
}

@media (max-width: 550px) {
    .contenedor_inicial_hormigon{
        width: calc(100% - 20px) !important;
    }
    .contenedor_imagen_fondo_hormigon{
        width: calc(100% - 20px) !important;
        top: 550px !important;
    }
    .contenedor_video_hormigon{
        width: calc(100% - 20px) !important;
    }
    .contenedor_ventajas_hormigon{
        width: calc(100% - 20px) !important;
    }
    .contenedor_inicial_paso_paso_hormigon{
        width: calc(100% - 20px) !important;
    }
    .contenedor_reparar_grietas_hormigon{
        width: calc(100% - 20px) !important;
    }

    .contenedor_microcemento_preguntas_y_respuestas{
        width: calc(100% - 20px) !important;

    }

    .contenedor_video_hormigon_iframe{
        height: 265px !important;
    }

    .contenedor_video_hormigon_iframe img {
        width: 400px;
    }
    .contenedor_video_hormigon_iframe iframe {
        position: absolute;
        width: 335px;
        bottom: 55px;
        height: 191px;
    }

    .contenedor_inicial_paso_paso_hormigon_txt{
        min-width: 100%;
    }

    #mostrar_paso_paso_2{
        display: none !important;
    }

    .contenedor_botones_mostar_paso_paso {
        height: 100% !important;
    }

    #mostrar_paso_paso_1 {
        width: 80%;
    }

    .acordeon-contenido .expl{
        max-width: 350px !important;

    }

    .contenedor_ventajas_hormigon{
        margin-bottom: 15px;
    }

    .contenedor_colores_hormigon{
        height: 940px !important;
    }
}

@media (max-width: 481px) {
    .contenedor_imagen_fondo_hormigon{
        top: 600px !important;
    }

    .contenedor_video_hormigon_content a{
        padding: 10px 30px;
    }

    .acordeon-contenido .expl{
        max-width: 300px !important;

    }
}

@media (max-width: 420px) {
    .contenedor_video_hormigon_iframe{
        height: 225px !important;
    }
    
    .contenedor_video_hormigon_iframe img {
        width: 350px;
    }
    .contenedor_video_hormigon_iframe iframe {
        position: absolute;
        width: 294px;
        bottom: 44px;
        height: 170px;
    }

    .contenedor_colores_hormigon{
        flex-direction: column;
        width: 100% !important;
        height: 975px !important;
        justify-content: start;
    }

    .contenedor_txt_gamma_colores{
        min-width: 0px  !important
    }

    .contenedor_listado_colores li {
        font-size: 12px;
    }
}

